.container {
    text-align: center;
}

body [data-state="initial"],
body [data-state="loading"],
body [data-state="loaded"],
body [data-state="loaded-success"],
body [data-state="loaded-error"] {
    display: none;
}

body[data-state="initial"] [data-state="initial"],
body[data-state="loading"] [data-state="loading"],
body[data-state="loaded"] [data-state="loaded"],
body[data-state="loaded-success"] [data-state="loaded-success"],
body[data-state="loaded-error"] [data-state="loaded-error"] {
    display: block;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.details-textarea {
    width: 690px;
    height: 460px;
}

.details-textarea.small {
    height: 200px;
}

.mt-15 {
    margin-top: 15px;
}

label {
    display: block;
}
